<template>
  <form
    class="box"
    @submit.prevent="formSend">
    <!-- eslint-disable max-len -->
    <b-field
      label="Nombre">
      <b-input
        v-model="model.Nombre"
        type="text"
        name="Nombre"
        required />
    </b-field>
    <b-field
      label="Correo"
      label-for="correo">
      <b-input
        v-model="model.Correo"
        type="email"
        name="Correo"
        required />
    </b-field>
    <b-field
      label="Teléfono">
      <b-input v-model="model.Teléfono"
               type="tel"
               name="Teléfono"
               required />
    </b-field>
    <div class="field">
      <b-checkbox v-model="TOS"
                  :required="true">
        Acepto el <nuxt-link
          to="/aviso-privacidad">Aviso de privacidad</nuxt-link> </b-checkbox>
    </div>
    <div
      class="field is-grouped is-grouped-right">
      <p
        class="control">
        <button
          class="button"
          type="button"
          @click="$emit('close')">Cancelar</button>
      </p>
      <p
        class="control">
        <button
          type="submit"
          class="button is-primary">Enviar</button>
      </p>
    </div>

    <b-loading
      :active="isLoading" />

  </form>
  <!-- eslint-enable max-len -->
</template>

<script>
import FormMixin from '~/mixins/form-mixin'
/**
 * Formulario genérico
 *
 * @version 1.6
 */

export default {
  name: 'FormGeneric',
  mixins: [FormMixin],
  mounted() {
    this.$on('success', () => {
      this.$router.push('/gracias')
    })
  },
}
</script>

<style lang="scss">
</style>

<docs>
Este formulario es muy configurable y no suele ser necesario tener más de uno

##  Examples

Usando las opciones por defecto

```jsx
<form-generic/>
```

Configurando la hoja de envío

```jsx
<form-generic sheet-destiny="Demo de componente"/>
```

</docs>
