<template>
  <main class="hero is-fullheight is-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-size-1-desktop">
          ¡Muchas gracias!
        </h1>
        <p class="subtitle">
          Tu satisfacción es lo más importante.<br>
          Pronto nos pondremos en contacto.
        </p>
        <!--
          Aquí se sugiere tener un CTA que mantenga
          al usuario en comunicación con la marca
         -->
        <div class="box">
          <p>
            ¿Ya nos sigues en facebook?
            <br>
            <br>
            <a href="http://facebook.com/dinamo.diseno/"
               target="_blank"
               rel="noopener noreferrer"
               class="button is-info is-large">
              <span class="icon is-large">
                <i class="fab fa-facebook fa-2x" />
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: 'PageGracias',
  head: {
    title: 'Gracias',
    meta: [{ name: 'robots', content: 'noindex' }],
  },
  mounted() {
    // Aquí ejecuta las acciones de rastreo de leads
  },
}
</script>
